.title{
	background: #CCC;
	font-family: verdana,sans;
	text-align: center;
	padding: 20px;
}
.item{
	background: #eee;
	font-family: verdana,sans;
	text-align: center;
	padding: 20px;
	width: 400px;
	display: inline-block;
	border: 1px dotted #000;
}

.item.preparation{
	background: #FFCC00;
}
