<div class="title">Ordenes {{total}}</div>
<div class="item {{ orderItem['state'] }}" *ngFor="let orderItem of orderList; let i = index">
	<strong>{{ orderItem['kot_order_list'][1] }}</strong>
	<h2>{{ orderItem['item_qty'] }} {{ orderItem['name'][1] }}</h2>
	<button [hidden]="orderItem['state']!='draft'" (click)="do_action(i,'action_preparation')">Iniciar Preparación</button>
	<button (click)="do_action(i,'action_done')">Finalizado</button>
</div>
